/*body
{
    width:100vh;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    width: 100%;
    height: 88vh;
}
.navbarset{
    width: 100%;
   padding: 15px ;
    background-color: #fff;
}
.settheme{
    color: #fff !important;
}
.settheme:hover{
    color: #000 !important;
}
.setimg{
    width: 100%;
    height: 88vh;
    filter: brightness(70%);
}
.logo{
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

/* desizn skim cards */

.pmskimcard{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
     background: url("https://c0.wallpaperflare.com/preview/562/182/454/india-pollachi-agriculture-village.jpg");
    Background-size: cover;
    background-repeat: no-repeat;
}
.setskimcard{
    width: 80%;
    display: flex;
   justify-content: center;
    /* background-color: blue; */
    flex-wrap: wrap;

}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.50rem;
}
 .pera{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.cardset{
    margin: 20px;
    height: auto;
    padding: 2px;
    /* background: red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.imgset{
    height: 30vh;
    border-radius: none;
}
.skimsheading{
    background-color: rgb(240, 121, 41);
    padding: 30px 0px;
    text-align: center;
    color:#343a40F5;
    font-size: 30px;
}



/* desizning for cropguid   */
.content{
    background: #fff;
    width: 350px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-right: 20px;
    border: 1px solid #ccc;
}
.content img{
    width: 15px;
    margin-right: 10px;
}
.content input{
    width: 100%;
    background: transparent;
    padding: 10px;
    border: none;
    outline: none;
}
.content input::placeholder{
    font-size: 15px;
    font-weight: 600;
}
.anchor:hover{
    text-decoration: none;
}
/* desizn for crop guid page  */

.cat{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    padding: 25px 100px;
}
.agriculterdetail{
    width: 100%;
    height: auto;
    padding: 5px 50px;
    /* background-color: brown; */
}
.heading{
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    background-color: green;
}
.agricontainer{
    width: 100%;
    display: flex;
}
.planteimg{
    width: 50%;
    height: 50vh;
    /* background-color: indianred; */
}
.planteimg >img{
    width: 100%;
    height: 49vh;
    /* object-fit: contain; */
}
.plantdata{
    /* background-color: indigo; */
    width: 70%;
    height: 50vh;
}
.cropname {
    color: #fff;
    font-size: 25px;
    padding: 10px 30px;
    background-color: #000;
}
.whether{
    color: #fff;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    background-color: #373c42;
    margin: 2px;
}
.whether >img{
    width: 50px;
    height: 50px;
}
.date{
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


/* design cards info  */
.generalinfo{
    width: 100%;
    height: auto;
    margin: 10px 0px;
    background-color: #e5efea;
}
.setinfo{
    width: 78%;
    height: auto;
    margin: 10px 0px;
}
.carsection{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.generalpara{
    padding: 10px 15px;
    font-size: 18px;
}
.box{
    width: 200px;
    height: auto;
    margin: 5px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.boximg{
   padding: 40px 0px;
    text-align: center;
    background-color: tomato;
}
.boxconent{
    padding: 10px 0px;
    border-bottom: 1px solid #e5efea;
    background-color: coral;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.generalinfobtn{
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    outline: none;
    border: none;
    text-align: center;
}
#morecontent,#morecontent2,#hidcontent{
    display: none;
}
.btncenter{
    display: flex;
    justify-content: center;
}

.navbar,.dropdown-menu{
    background-color: #343a40!important;
  }
.myheader{
    width: 100%;
    height: 80px;
    background-color:#343a40;
    display: flex;
    align-items: center;
}
.myheader >h2{
    color:#fff ;
    font-size: 25px;
    padding-left: 15px;
}
.banner{
    width: 100%;
    height: 150vh;
    background: url("https://c4.wallpaperflare.com/wallpaper/1/422/529/asian-rice-farmer-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
}
.myform{
    /*width: 100%;
    height: auto;*/
    /* background-color: red; */
    /*display: flex;*/
    align-items: center;
    /*justify-content: left;*/
    /*margin-right: 10%;*/
}
#aw
{ margin-left:6%;
  margin-top:1%;

}
form{
    width: 350px;
    margin-left: 25px;
    height: 400px;
    padding: 10px;
    color: #fff;
}
.submitbtn{
    padding: 5px 17px;
    background-color: coral;
    color: #fff;
    outline: none;
    border: none;
    font-size: 15px;
}
.reset{
    padding: 5px 17px;
    background-color: brown;
    color: #fff;
    outline: none;
    border: none;
    font-size: 15px;
}
#fit{
    width:30rem;
    margin-left:8%;

}
.fitbox
{
    margin-top:5%;
}
@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}
/*h5#Yo {
    color: blue;
}*/