<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANANA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>

    {% include 'template.html' %}

    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\banana.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">BANANA</div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">RABI/MID-FEBRUARY-FIRST WEEK OF MARCH</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">Banana is the second most important fruit crop of India next to mango. It is
                    available round the
                    year and because of its taste, nutritive and medicinal value. It is favorite fruit of all classes of
                    people. It is a rich source of carbohydrate and vitamins particularly vitamin B. Banana helps to
                    reduce the risk of heart diseases. Also, it is recommended for patients suffering from high
                    arthritis, blood pressure, ulcer, gastroenteritis and kidney disorders. From banana, various
                    products are made such as chips, banana puree, jam, jelly, juice, etc. Banana fibre is used to
                    make items like bags, pots and wall hangers. Rope and good quality paper can be prepared
                    from banana waste. In India, banana ranks first in production and third in the area among fruit
                    crops. Within India, Maharashtra has the highest productivity. The other major banana
                    producing states are Karnataka, Gujarat, Andhra Pradesh and Assam.
                </p>
            </div>
            
            <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">18°C-25°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">170cm-200cm
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">18°C-25°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">25°C-30°C</div>
                    </div>
                </div>
            </div> -->

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">It is grown in variety of soils ranging from poorest to the richest type of soils
                    such as deep silty,
                    clay, loam and rich loamy soil is suited best for banana farming. The soil having pH 6-7.5 is
                    preferred for banana cultivation. For banana growing, select soil having good drainage,
                    adequate fertility, and moisture capacity. Soils which are rich in nitrogen content and have
                    adequate phosphorus content and high level of potash are good for banana cultivation. Avoid
                    waterlogged, poor aerated and nutritionally deficient soils. Also avoid sandy, saline, calcareous
                    and extremely clayey soils.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara">Grand Naine: Released in 2008 and is suited best for growing in Asia. It bears
                    average 25-30kg
                    bunch.
                </p>
                <p class="generalpara">Other state varieties:
                </p>
                <p class="generalpara">Red Banana, Safed Velachi, Basarai, Rasthali, Dwarf Cavendish, Robusta, Poovan,
                    Nendran,
                    Ardhapuri, Nyali.
                </p>
            </div>


            <div class="generalinfo">
                <div class="heading">LAND PREPARATION</div>
                <p class="generalpara">Plough the land thoroughly atleast for 3-4 times in summer. At the time of last
                    ploughing add
                    about 10 tonnes of well rotten FYM or well decomposed cow dung and mix it well in soil. To
                    level soil used blade harrow or laser leveler. In areas where nematode problem is prevalent,
                    nematicides and fumigants are also added to pits before planting.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SOWING</div>
                <p class="generalpara">Time of sowing
                    Mid-February to first week of March is best time for sowing.
                </p>
                <p class="generalpara">Spacing
                    In north India, coastal belt and areas having high humidity and low temperature i.e. below
                    5-7°C, the planting distance should not be less than 1.8m x 1.8m.
                </p>
                <p class="generalpara">Sowing Depth
                    Banana sucker is planted in a pit size of 45cm x 45cm x 45cm or 60x60x60cm. Pits are left open
                    in sun; it will help in killing the harmful insects. Fill pits with topsoil mixed with 10kg of FYM
                    or
                    well decomposed cow dung, Neem cake@250gm and Carbofuran@20gm. Plant suckers in the
                    center of the pit and gently pressed the soil around it. Avoid deep planting.
                </p>
                <p class="generalpara">Method of Sowing
                    Transplanting method is used for sowing.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SEED</div>
                <p class="generalpara">Seed Rate
                    If the spacing of 1.8x1.5m is adopted, near about 1452plants fits per acre. For spacing of
                    2mx2.5m, 800plants are accommodated in one acre.
                </p>
                <div id="hidcontent">
                    <p class="generalpara">Seed Treatment
                        For planting, use healthy and uninfected sucker or rhizomes. Before planting, wash suckers and
                        then dip in a solution of Chlorpyrifos 20EC@ 2.5ml/Litre of water. To protect the crop from
                        rhizome weevil, before planting, dip suckers in Carbofuran 3%CG@33gm/sucker after then dry
                        them in shade for 72 hours. To prevent suckers from nematode attacked, treat suckers with
                        Carbofuran 3%CG@50gm/sucker. For fusarium wilt control, dip suckers in Carbendazim
                        @2gm/litre of water solution for about 15–20 minutes.
                    </p>
                </div>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction3()">+ Show More</button></div>
            </div>

            <div class="generalinfo">
                <div class="heading">WEED CONTROL</div>
                <p class="generalpara">Remove weeds before planting by deep ploughing and cross harrowing. Take
                    pre-emergence
                    application of Diuron 80% WP@800gm/150Litre of water/acre, if infestation by the weed
                    species.
                </p>
            </div>
            <div class="generalinfo">
                <div class="heading">IRRIGATION</div>
                <p class="generalpara">Banana is a shallow rooted crop that requires a large quantity of water for
                    increasing
                    productivity. Overall it requires 70-75 irrigations for good yield. Provide irrigation at an
                    interval of
                    7-8days in winter whereas in summer provide irrigation at an interval of 4-5days. In the rainy
                    season, provide irrigation if required. Remove excess water from the field as it will affect plant
                    establishment and growth.
                </p>
                <p class="generalpara" id="morecontent2">Advance irrigation technology like drip irrigation can be used.
                    Research shows that use of drip
                    irrigation in banana saves about 58% of water and increasing yield by 23-32%. In drip irrigation,
                    apply water@5-10 litres/plant/day from planting to 4th month, 10-15 litres/plant/day from 5th to
                    shooting and 15 litres /plant/day from shooting to till 15 days prior to harvest.</p>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction2()">+ Show More</button></div>
            </div>
        </div>
    </section>


    <!-- jQuery library -->
    <script>
        function myFunction2() {
            var x = document.getElementById("morecontent2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunction3() {
            var x = document.getElementById("hidcontent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>