<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLACK GRAM (MASH) </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
{% include 'template.html' %}
    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\blackgram.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">BLACK GRAM (MASH) </div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">KHARIF/MARCH-APRIL </div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">It is one of the most important pulse crops of India. It is a rich source of protein and phosphoric acid. It is used as dal and it is an important ingredient of breakfast. In India, major areas are Madhya Pradesh, Uttar Pradesh, Punjab, Maharashtra, West Bengal, Andhra Pradesh and Karnataka. In Punjab, it is cultivated on 2.2 thousand hectares (2012-2013).

                </p>
            </div>

            <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">15-30°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">60-90cm 
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">25-30°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">18-25°C</div>
                    </div>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">Saline - alkaline soil, also waterlogged soils are not suitable for mash cultivation. For good growth, it required stiff loamy or heavy soils with good water retentive capacity.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>Mash 338:</b> Suitable for Kharif sowing. Dwarf and short duration variety. Ready to harvest in 90 days. Each pod contains bold and black 6-7 seeds. It is resistant to mosaic virus and leaf spot. Gives average yield of 3.5 qtl/acre. 
                </p>
                <p class="generalpara"><b>Mash 114: </b>Suitable for Kharif sowing. Dwarf and short duration variety. Ready to harvest in 85 days. Each pod contains bold and black 6-7 seeds. Gives average yield of 3.7qtl/acre.
                </p>
                <div id="hidcontent">
                    <p class="generalpara"><b>ML 818:</b>Suitable for kharif season. Plants are of medium height. Ready to harvest in 80 days. Each pod contains 10-11 seeds. It is moderately resistant to yellow mosaic and cercospora as well as bacterial leaf spots. Gives average yield of 4.9 qtl/acre.  
                        <br><br>
                       <b> Mash 218: </b>Suitable for summer sowing. Short duration variety. Ready to harvest in 76 days. Each pod contains bold, dull black 6 seeds. Gives average yield of 4 qtl/acre. 
                        <br><br>
                        <b>Mash 414: </b>Suitable for summer sowing. Short duration variety. Ready to harvest in 73 days. Each pod contains bold, black 6-7 seeds. Gives average yield of 4.3 qtl/acre.
                        <br><br>
                        <b>Mash 1008:</b>Suitable for summer sowing. Ready to harvest in 73 days. It is fairly resistant to mosaic virus and leaf spot. Each pod contains bold, black 6-7 seeds. Gives average yield of 4.6 qtl/acre.
                       <br><br>
                       Other state varieties:Type 27
                       Type 56,
                       Pusa 1,
                       Pant 430,
                       HPU 6,
                       T 65,
                       LBG 22,
                       LBG 402,
                       LBG 20,
                       <br>

                    </p>
                </div>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction3()">+ Show More</button></div>
            </div>


            <div class="generalinfo">
                <div class="heading">LAND PREPARATION</div>
                <p class="generalpara">
                    To bring soil to fine tilth, give two to three ploughing. After each ploughing, carry out planking. Keep the field weed free.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SOWING</div>
                <p class="generalpara">Time of sowing
                    Optimum time for kharif sowing is the last week of June to the first week of July. Optimum time for summer cultivation is from March to April. For the sub-mountainous region, complete sowing from 15-25 July.
                        <br>
                        Sowing Depth
                        Sow seeds at a depth of 4-6 cm. Mash grown in hilly areas are of better quality.                                  
                </p>

            <div class="generalinfo">
                <div class="heading">SEED</div>
                <p class="generalpara">Seed Rate
                    For kharif sowing use a seed rate of 7-8kg/acre whereas for summer sowing use a seed rate of 19-20kg/acre of bold seeds.                                  
                </p>
                <p class="generalpara" id="morecontent2">Seed Treatment
                    Before sowing, treat seeds with Captan or Thiram or Mancozeb or Carbendazim@2.5gm per kg of seeds. After that, dry them in shades. After chemical treatment treat seed with Rhizobium@2gm/kg of seeds.                     
                </p>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction2()">+ Show More</button></div>
            </div>

            <div class="generalinfo">
                <div class="heading">WEED CONTROL</div>
                <p class="generalpara"> To keep field weed free, one or two hoeing are required. Take first hoeing one month after sowing. To control weed chemically, after sowing, within two days, take a spray of Pendimethalin@1Ltr/acre in 100-200Ltrs of water.
                </p>
            </div>
            <div class="generalinfo">
                <div class="heading">IRRIGATION</div>
                <p class="generalpara">Mash is grown as a kharif crop. If needed, provide irrigation depending upon the climatic conditions.      
                </p>
            </div>
        </div>
    </section>


    <!-- jQuery library -->
    <script>
        function myFunction2() {
            var x = document.getElementById("morecontent2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunction3() {
            var x = document.getElementById("hidcontent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>