<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coffee</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>

  {% include 'template.html' %}
  

  <section class="cat">
    <div class="agriculterdetail">
      <div class="heading">CROP GUIDE</div>
      <div class="agricontainer ">
        <div class="planteimg ">
          <img src="..\static\images\coffee.jpg" alt="">
        </div>
        <div class="plantdata">
          <div class="cropname">Coffee</div>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\weather (1).png" alt="">
              <div class="date">SEPTEMBER-MARCH</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\seeding.png" alt="">
              <div class="date">type of varieties</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\fertilizepro.png" alt="">
              <div class="date">chemical fertilizer</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\pesticide.png" alt="">
              <div class="date">type of pests diseases</div>
            </div>
          </a>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">GENERAL INFORMATION</div>
        <p class="generalpara">"Coffee is a flowering plant which is being cultivated for its grains/seeds called 'coffee beans'. Many coffee
            products including beverages are made from these
            freshly grown coffee beans. When it comes to
            planting size, these trees are small. Coffee plants
            are native to tropical areas of Asia and South
            African continent. Coffee was introduced in India in
            1936 near Chikmagalur in the state of Karnataka.
            Coffee is one of the popular commodity crops plays
            a major role in the world economy. Brazil occupies
            the number one position in coffee production in the
            world. In the commercial aspect, the coffee is a
            major export crop for many countries across the
            globe. There are many species of coffee cultivated
            across the globe. However, "coffee Arabica"
            accounts for 80% of coffee production in the world.
            Other species of coffee is Coffee Robusta ( made
            from Coffea canephora plants) accounts for about
            20% of world coffee production.".</p>
      </div>

      <div class="generalinfo setinfo" style="background: none;">
        <div class="heading">CLIMATE</div>
        <div class="carsection">
          <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Temperature</div>
            <div class="boxconent">23°C-28°C</div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
            <div class="boxconent">Rainfall</div>
            <div class="boxconent">220cm-230cm </div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
            <div class="boxconent">Sowing Temperature</div>
            <div class="boxconent">20°C-27°C</div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Harvesting Temperature</div>
            <div class="boxconent">23°C-28° C
            </div>
          </div>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">SOIL</div>
        <p class="generalpara">Coffee crops may be grown on a wide range of soils.
            However, the shallow soils (sandy loam) with good
            organic matter to virgin soils on steep mountain
            slopes or almost flatlands are ideal for its cultivation.
            You must consider the water balance of soil as this
            can play a vital role in coffee growing. Commercial
            Coffee growers should go for soil testing. Any soil
            nutrient deficiencies should be supplemented
            before starting a coffee garden. For high yields and
            quality produces, the pH of the soil should be
            between 5.0 - 6.0.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
        <p class="generalpara"><b>1.Arabica (Coffea arabica):</b>Arabica coffee plant cultivars make up most of the world’s coffee production, and likewise, they’re the most commonly available for home growers.</p>
        <p class="generalpara"><b>2.Liberica (Coffea liberica): </b>If you're interested in long-term harvesting, consider a rare liberica plant: Native to Liberia, liberica beans contain more caffeine than other varieties.
            <br><br>
          3.<b>Robusta (Coffea canephora):</b>Robusta plants are native to sub-Saharan Africa. While they are a common sight in blends, their bitter flavors may be less desirable than the brighter, floral ones of arabica for some coffee drinkers. Many instant coffees are made from robusta.
            <br><br>
            <br>
        </p>
      </div>

      <div class="generalinfo">
        <div class="heading">LAND PREPARATION</div>
        <p class="generalpara">
            For better coffee orchard
            establishment, the land should be prepared very
            well by giving 4 or 5 plowing and harrowing to
            bring the soil to a fine tilth stage. As part of this
            preparation, remove any stones/debris/ and weeds
            from previous crops. Commercial coffee growers
            should consider soil testing to measure soil fertility
            and suitability. Based on soil test reports, any
            nutrients and micronutrients should be
            supplemented in the soil before planting the
            seedlings. In the case of fertilizers applications such
            as phosphorus and lime, these should be
            thoroughly incorporated by plowing and disking the
            soil several months before transplanting the coffee
            seedlings in the field.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">WEED CONTROL</div>
        <p class="generalpara">Digging and forking open should be done during the months of September, November and again in February and March. Weed control can be done during the initial years. Chemical weedicides like Dalapon
            can be used for controlling grasses. Amino salt of
            2,4 - D can be used or controlling broad-leaved
            weeds.</p>
        </p>
      </div>

      <div class="generalinfo">
        <div class="heading">IRRIGATION</div>
        <p class="generalpara">The frequency of irrigation in coffee growing depends on the type of soil, moisture level in the soil, plant age and climate.
            There are many irrigation methods are available like
            drip irrigation, sprinkler irrigation, microjet, and
            basin irrigation can be adopted in coffee Growing.
            However, drip irrigation is the best method for best
            utilization of water and fertilizers. This can also
            control weed growth at plant basins. Under irrigated
            conditions, each coffee plant requires 50 to 55 mm
            water and this should be applied before
            transplanting. Subsequent irrigations of 25 mm
            should be provided at an 8 to 10 days interval. Make
            sure to keep the soil moist and avoid too much
            wetness. Overwatering can result in plantrot and
            fungal diseases in coffee growing. The thumb rule is
            to provide 2 irrigations in a week in dry climatic
            conditions (like in summer) and 1 irrigation per
            week in the cool winter season.</p>
      </div>
  </section>
{% include 'template2.html' %}
  
</body>

</html>