<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COTTON</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
    {% include 'template.html' %}
    
    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\cotton.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">COTTON</div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">Kharif/April-May</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">Cotton is one of the most important fibre and cash crops of India as well as of
                    the entire world. It plays a dominant role in the industrial and agricultural economy of the
                    country. It provides the basic raw material to cotton textile industry. In India it provides direct
                    livelihood to 6 million farmers and about 40-50 million people are employed in cotton trade and its
                    processing. Cotton is a water thirsty crop and around 6% of the water for irrigation is used for its
                    cultivation. In India, it is grown on a large scale in Maharashtra, Gujarat, Karnataka, Madhya
                    Pradesh, Punjab, Rajasthan, Haryana, Tamil Nadu and Uttar Pradesh. Gujarat is the largest producer
                    of cotton followed by Maharashtra and Punjab. It is vital kharif crop of Punjab. The average lint
                    yield of the State is around 697 kg per hectare.
                </p>
            </div>

            <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">15°C-35°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">55cm-100cm
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">25°C-35°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">15°C-25°C</div>
                    </div>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">It can be grown on all type of soil having pH ranges in-between 6 and 8. Deep,
                    friable, well drained and fertile soil are good for crop cultivation. Sandy, saline or water logged
                    soils are not suitable for cotton cultivation. The depth of soil should not be less than 20-25 cm.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>RCH 134BT: </b>It is high yielding Bt cotton variety. It is resistant to bollworm and
                    American bollworm. It matures in 160-165 days. It give average yield of 11.5 qtl/acre of seed cotton. Very good fibre property with 34.4% ginning outturn.<p>
                </p>
                <p class="generalpara"><b>RCH 317BT: </b>It is high yielding Bt cotton variety. It is resistant to spotted
                    bollworm and American bollworm. It mature in 160-165 days. Boll size is about 3.8 cm with good
                    fluffy opening. Gives average yield of 10.5 qtl/acre. gives 33.9% of ginning outturn.
                </p>
                <p class="generalpara"><b>MRC 6301BT: </b>It is high yielding Bt cotton variety. It is resistant to spotted
                    bollworm and American bollworm. It mature in 160-165 days. Boll size of 4.3 g. It gives average
                    yield of 10 qtl/acre and 34.7% ginning outturn.
                </p>
                <div id="hidcontent">
                    <p class="generalpara"><b>MRC 6304BT:</b> It is high yielding Bt cotton variety. It is resistant to spotted
                        bollworm and American bollworm. It mature in 160-165 days. Boll size of 3.9 g. It gives average
                        yield of 10.1 qtl/acre and 35.2% ginning outturn.
                    </p>
                    <p class="generalpara"><b>Ankur 651: </b>This is Jassid tolerant and leaf curl resistant hybrid. Plant is
                        of 97 cm height. It matures in 170 days. Suitable for cotton - wheat rotation. Gives average
                        yield of 7 qtl/acre. It matures in 170 days. 32.5% ginning outturn.
                    </p>
                    <p class="generalpara"><b>Whitegold:</b> It is hybrid, tolerant to leaf curl virus disease. It has dark
                        green broad lobed leaves. Plants average height is about 125 cm. Matures in 180 days. Gives
                        cotton seed yield of 6.5 qtl/acre. Ginning outturn is 30%.
                    </p>
                    <p class="generalpara"><b>LHH 144:</b>Leaf curl resistant hybrid. Leaves are of semi okra lobed types.
                        Average boll weight is 5.5 gm. It matures in 180 days and suitable for cotton-wheat rotation.
                        Gives average seed yield of 7.6 qtl/acre. Ginning outturn is 33%.
                    </p>
                    <p class="generalpara">
                        <b>F 1861: </b>It is variety, tolerant to leaf curl virus disease. Average plant height is 135 cm. It
                        matures in 180 days. It gives average seed cotton yield of 6.5 qtl/acre. Its ginning outturn is
                        33.5%.
                    </p>
                    <p class="generalpara"><b>F 1378:</b>High yielding variety. Average plant height is 150 cm. Boll are round
                        and big with good fluffy opening. It matures in 180 days. Gives average yield of 10 qtl/acre.
                        Ginning outturn is 35.5%.
                    </p>
                    <p class="generalpara"><b>F 846: </b>It is semi spreading, high yielding variety. Average plant height of
                        134 cm. It matures in 180 days. Gives average yield of 11 qtl/acre. The ginning outturn is
                        35.3%.
                    </p>
                    <p class="generalpara"><b>LHH 1556:</b> It is short duration early maturing variety. Plant height is about
                        140 cm. Leaves are light green and boll are of round shape. Gives yield of 8.5 qtl/acre. It
                        matures in 165 days.
                    </p>
                    <p class="generalpara"><b>Moti: </b>Fusarium wilt tolerant desi cotton hybrid. Average plant height is
                        about 164 cm. Leaves are narrow with white flowers. Boll are of large size. It mature in 165
                        days. Gives average yield of 8.45 qtl per acre. Ginning outturn is 38.6%.
                    </p>

                    <!-- desi VARIETIES  -->
                    <p class="generalpara"> <b>Desi varieties</b> </p>
                    <p class="generalpara"><b>FMDH 9:</b> Plant having green body, its leaves are narrow lobed leaves and white
                        flowers. Its bolls are medium and fluffy opening. Ready to harvest in 160 days. It is resistant
                        to jassid, whitefly and tolerant to Fusarium wilt and Bacterila blight. Its ginning outturn is
                        37.3% and fibre length is 23.4 mm. It give average yield of 10 qtl/acre.
                    </p>
                    <p class="generalpara"><b>FDK 124:</b> High yielding, early maturing variety having green and narrow lobed
                        leaves. Ready to harvest in 160 days. It give resistance to whitefly and jassid. Its fibre
                        length is 21 mm and ginning outtuns of 36.4%. It give average yield of 9.3 qtl/acre.
                    </p>
                    <p class="generalpara"><b>LD 694:</b> Desi cotton variety. Leaves are narrow with pink flowers. Boll are of
                        big size. Matures in 170 days. Gives ginning outturn of 40.9%. It gives average yield of 7
                        qtl/acre. Tolerant to Fusarium wilt and resistant to jassid.
                    </p>
                    <p class="generalpara"><b>LD 327:</b>It is high yielding variety. Plants having reddish brown, narrow
                        lobed deep cut leaves with pink flower. Boll are of big size and easy picking. It matures in 175
                        days. Tolerant to Fusarium wilt. Gives average yield of 11.5 qtl/acre. Gives ginning percent of
                        41.9.
                    </p>
                    <p class="generalpara"><b>LD 1019:</b> The variety is resistant to shattering. It gives an average yield of
                        8.6qtl/acre. 2-3 pickings are required. The variety is tolerant to shattering. The fibre length
                        is 22.6mm and ginning out turn is 35.77%.
                    </p>

                    <!-- POPULAR VARIETIES  -->
                    <p class="generalpara"> <b>Popular variety</b> </p>
                    <p class="generalpara"><b>BCHH 6488 BG II:</b> Hybrid having green narrow lobed leaves with cream flower.
                        Ready to harvest in 165-170 days. It give ginning outturns of 34.5% and fibre length of 27 mm.
                        But it is susceptible to cotton leaf curl and affected by high incidence of para wilt.
                    </p>
                    <p class="generalpara"><b>BCHH 6588 BG II: </b>It is popular among farmer. </p>

                    <!-- American varieties of cotton -->
                    <p class="generalpara"> <b>American varieties of cotton</b></p>
                    <p class="generalpara">PAU Bt 1: First Bt cotton variety which is developed in public sector. It
                        gives an average yield of 11.2qtl/acre of seed cotton yield. The variety is moderately resistant
                        to cotton curl disease. The boll size is 4.3gm and ginning out turn is 41.4%. </p>
                    <p class="generalpara"><b>RCH 650 BG II:</b> High yielding Bt cotton hybrid, gives resistance against
                        American, pink and spotted bollworm, also against tobacco caterpillars. Its ball are big and
                        have average weight of 4.5 gm. Its fibre length is 25.5 mm and ginning percent is 34%. It gives
                        average yield of seed cotton about 9.5 qtl/acre.</p>
                    <p class="generalpara"><b>NCS 855 BG II: </b>High yielding Bt cotton hybrid, gives resistance against
                        American, pink and spotted bollworm, also against tobacco caterpillars. It is tolerant to para
                        wilt. Its fibre length is about 28.5 mm and ginning outturn of 36%. It gives average yield of
                        seed cotton about 9.7 qtl/acre. </p>
                    <p class="generalpara"><b>ANKUR 3028 BG II: </b>High yielding Bt cotton hybrid, gives resistance against
                        American, pink and spotted bollworm, also against tobacco caterpillars. It is moderately
                        tolerant to leaf curl virus and para wilt. Its fibre length is about 31.3 mm and ginning outturn
                        of 31.4%. It give average yield of 9.7 qtl/acre. </p>
                    <p class="generalpara"><b>MRC 7017 BG II :</b>High yielding, early maturing variety having resistance to
                        tobacco caterpillars, American, pink and spotted bollworm. Also give resistance to leaf curl
                        virus and para wilt. Its fibre quality is good having fibre length of 29.7 mm and ginning
                        outturn of 33.6%. It give average yield of 10.4 qtl/acre.</p>
                    <p class="generalpara"><b>MRC 7031 BG II :</b> High yielding, early maturing variety having resistance to
                        tobacco caterpillars, American, pink and spotted bollworm. Also give resistance to leaf curl
                        virus and tolerant to para wilt. Its fibre length is 29.4 mm and ginning outturns is 33.4%. It
                        give average yield of 9.8 qtl/acre.</p>

                    <!-- Other state varieties: -->
                    <p class="generalpara"><b>Other state varieties:</b></p>
                    <p class="generalpara">Ankur 226BG, PCH 406 BT, Sigma Bt, SDS 1368 Bt, SDS 9Bt, NAMCOT 402 Bt, GK
                        206 Bt, 6317 Bt, 6488 Bt, MRC 7017 BG II, MRC 7031 BG II, NCS 145 BG II , ACH 33-2 BG II, JKCH
                        1050 Bt, MRC 6025 Bt, MRC 6029 Bt, NCS 913 Bt, NCS 138 Bt, RCH 308 Bt, RCH 314 Bt</p>
                </div>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction3()">+ Show More</button></div>
            </div>


            <div class="generalinfo">
                <div class="heading">LAND PREPARATION</div>
                <p class="generalpara">It required thorough land preparation for good germination and growth of crop.
                    After removal of Rabi crop, irrigate field immediately then take ploughing of land with MB plough
                    and planking. Carry out deep ploughing once in three years, it will help to keep check on perennial
                    weeds also kill various soil borne pest and diseases.</p>
            </div>

            <div class="generalinfo">
                <div class="heading">SOWING</div>
                <p class="generalpara">Time of sowing 
                    Optimum time for sowing is in April - mid May. For Management of Mealybug, sow Bajra, Arhar, Maize
                    and Jowar in the fields surrounding cotton crop. Avoid growing tur, moong and bhendi in and around
                    cotton field as these harbour insect pests. In Punjab cotton wheat rotation is common but rotation
                    with berseem and clusterbean has been found to have beneficial effect on the succeeding cotton crop.
                </p>
                <p class="generalpara">Spacing
                    For American cotton use spacing of 75x15 cm under irrigated condition while under rain fed condition
                    use spacing of 60x30 cm. For desi cotton use spacing of 60x30 cm for rain fed as well as for
                    irrigated condition.
                </p>
                <p class="generalpara">Sowing Depth
                    Sowing should be done at depth of 5 cm.
                </p>
                <p class="generalpara">Method of sowing
                    For sowing use seed drill for desi cotton while dibbling of seed is done in case of hybrids and Bt
                    cotton. Square planting is beneficial compared to rectangular planting. Few gaps arise due to
                    failure of seed germination and mortality of seedling. To overcome this gap filling is necessary.
                    Two weeks after sowing the weak/diseased/damaged seedlings should be removed by keeping a healthy
                    seedling/hill.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SEED RATES</div>
                <p class="generalpara">Seed Rate
                    Seed rate varies with variety, growing zones, irrigation etc. Use seed rate for American cotton
                    hybrid@1.5 Kg/acre while for American cotton variety use seed rate of 3.5 kg/acre. For desi cotton
                    hybrid@1.25 kg/acre and 3 kg/acre for desi cotton varieties.
                </p>
                <p class="generalpara">Seed Treatment
                    Seed of cotton is covered by short fibre in American cotton. Before sowing removal of this necessary
                    as it will make difficulty for sowing. It can be removed by chemical and Non-chemical method.
                </p>
                <p class="generalpara">In Non-chemical method, seeds are soaked in water overnight, then next day rubbed
                    with cowdung and wood ash or saw dust then dried in shed before sowing.
                    In chemical method, Depending upon the fibres on the seeds, mix the 400 gm concentrated Sulphuric
                    acid (Industrial grade) in per 4 kg seeds for American cotton and 300 gm for 3 kg Desi cotton seed
                    for 2-3 minutes. It will burn all the fibers of seeds. Then 10 Ltr of water in container, stir well
                    and drained out the water. Wash the seeds for three times with normal water and then lime water
                    (Sodium Bicarbonate@50gm/10Ltr of water) for 1 min. Give one more washing then dry the seeds in
                    shed.
                    Do not use Metal or wood container instead use plastic or earthen pot and use plastic glove by
                    operator for chemical method.
                </p>
                <p class="generalpara">To protect from sucking pest attacks (upto 15-20 days) treat seeds with
                    Imidacloprid (Confidor) 5-7ml or Thiamethoxam (CRUISER)@ 5-7gm/kg of seeds.
                </p>
            </div>
            <div class="generalinfo">
                <div class="heading">WEED CONTROL</div>
                <p class="generalpara">Due to wide spaced crop weeds pose serious threat. A weed free period of 50-60
                    days from sowing is necessary for good yield otherwise it may cause 60-80% reduction in yields.
                    Manual, mechanical and chemical methods of weed control in combination is necessary for effective
                    weed control. Carry out first manual hoeing 5-6 weeks after sowing or before first irrigation.
                    Remaining hoeing should be done after each irrigation. Do not allow congress grass to grow around
                    cotton fields, as they increase the possibility of mealy bug infestation.
                </p>
                <p class="generalpara">
                    To control weeds after sowing but before its emergence take spray of Pendimethalin @ 25-33 ml/10 Ltr
                    of water. Apply Paraquat (Gramoxone) 24% WSC @ 500 ml/acre or Glyphosate @1 Ltr/acre in 100 Ltr of
                    water, 6 to 8 week after sowing when crop is 40-45 cm in height. Crop is highly sensitive to the
                    2,4-D weedicide. Its vapours can cause serious injury to cotton even if sprayed in adjoining fields.
                    Spraying of herbicide should be carried out either in morning hour or in evening hours.
                </p>
            </div>
        </div>
    </section>


    <!-- jQuery library -->
    <script>
        function myFunction3() {
            var x = document.getElementById("hidcontent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
   {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>