<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goverment Skims</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
  {% include 'template.html' %}
  <h1 class="skimsheading">Goverment Schemes</h1>
    <section class="pmskimcard">
        <div class="setskimcard">

 
            <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\kisan.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Pradhan Mantri Kisan Maandhan yojana(PM-KY)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://maandhan.in//" class="pera">https://maandhan.in//</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\pmfby.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Pradhan Mantri Fasal Bima Yojana (PMFBY)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://pmfby.gov.in/" class="pera">https://pmfby.gov.in/</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\kcc.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Kisan credit Cards(KKC)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://krishijagran.com/news/how-to-apply-for-kisan-credit-card-online-check-step-by-step-process/" class="pera">https://krishijagran.com/news/how-to-apply-for-kisan-credit-card-online-check-step-by-step-process/</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\pashu.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Pradhan Mantri Matsya Sampada Yojana (PMMSY)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://www.bankbazaar.com/pashu-kisan-credit-card.html" class="pera">https://www.bankbazaar.com/pashu-kisan-credit-card.html</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\nam.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">National Agriculture Market (e-NAM)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://enam.gov.in/web/" class="pera">https://enam.gov.in/web/</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\pmmsy.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">.Pradhan Mantri Matsya Sampada Yojana</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://pmmsy.dof.gov.in/" class="pera">https://pmmsy.dof.gov.in/</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\ddd.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Pradhan Mantri Kisan Suraksha Abhiyan Utthan Mahabhiyan (PM
                    KUSUM) Yojana’</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://www.india.gov.in/spotlight/pm-kusum-pradhan-mantri-kisan-urja-suraksha-evam-utthaan-mahabhiya" class="pera">https://www.india.gov.in/spotlight/pm-kusum-pradhan-mantri-kisan-urja-suraksha-evam-utthaan-mahabhiya</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\pmksy.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://pmksy.gov.in/" class="pera">https://pmksy.gov.in/</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\pkvy.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Paramparagat Krishi Vikas Yojana (PKVY)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://pgsindia-ncof.gov.in/PKVY/Introduction.aspx" class="pera">https://pgsindia-ncof.gov.in/PKVY/Introduction.aspx</a>
                </div>
              </div>
              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\pksny.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">PM Kisan Samman Nidhi Yojana</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://pmkisan.gov.in/" class="pera">https://pmkisan.gov.in/</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\national misson.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">National Mission For Sustainable Agriculture (NMSA)</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://nmsa.dac.gov.in/" class="pera">https://nmsa.dac.gov.in/</a>
                </div>
              </div>

              <div class="card cardset" style="width: 17rem;">
                <img src="..\static\images\gramin bandhan.PNG" class="card-img-top imgset" alt="...">
                <div class="card-body">
                    <h5>Name :</h5>
                  <p class="card-text pera">Gramin Bhandaran Yojna</p>
                  <p class="card-text pera">Link to scheme :</p>
                  <a href="https://www.sarkariyojnaye.com/gramin-bhandaran-yojana/" class="pera">https://www.sarkariyojnaye.com/gramin-bhandaran-yojana/</a>
                </div>
              </div>
        </div>
    </section>


    {% include 'template2.html' %}
</body>

</html>