<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grapes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
    {% include 'template.html' %}    

    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\grapes.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">Grapes</div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">RABI/DECEMBER-JANUARY
                            </div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">It is a very popular crop in the world and commercially grown in most countries. It is a perennial
                    and deciduous woody climbing vine. It is a good source of vitamin B and minerals such as
                    calcium, phosphorus, and iron. Grapes are used for raw eating and are used for making various
                    products such as jelly, jam, raisins, vinegar, juice, seed oil and grape seed extracts. Grape
                    farming is mainly done in France, USA, Turkey, South Africa, China, Portugal, Argentina, Iran,
                    Italy, and Chile. Among these, China is the largest country doing grape farming. It also has
                    health benefits such as it is used to control diabetes, relieves from asthma, heart issues,
                    constipation, bone health etc. It is also useful for skin and hair health related issues.
                    
                </p>
            </div>

             <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">25°C-32°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">64cm-89cm
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">22°C-30°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">25°C-32°C</div>
                    </div>
                </div>
            </div> 

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">t is grown in a variety of soil but good fertile soil having pH range of 6.5-8.5 having good water
                    holding capacity is suited best for grape farming.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>Punjab MACS Purple:</b> Released in 2008. The variety is rich in anthocyanins. The fruit is a berry
                    which is seeded. Fruits are medium in size and become purple at maturity. It contains medium
                    and loose bunches. The variety matures in the first week of June. It is suitable for processing
                    juice and nectar. <br><br>
                    <b>Perlette:</b> Released in 1967. High yielding varieties, bunches are large to medium in size, grapes
                    are medium size, lightly aromatic, round, thick peel, sweet flesh and hard. It contains 16-18%
                    TSS content. It gives an average yield of 25kg per vine
                </p>
            </div>


        <div class="generalinfo">
            <div class="heading">LAND PREPARATION</div>
            <p class="generalpara">Well prepared land is necessary for grapes cultivation. To bring the soil to a fine tilth, 3-4 deep
                ploughings should be done by tractor followed by 3 harrowings.
                SOWING <br>
                Time of sowing:<br>
                Transplanting of prepared root cutting is done in December to January.
                Spacing:<br>
                By Knifing method, use spacing of 3mX3m and by arbour method use spacing of 5m X 3m. For
                the Anab-e-Shahi variety, use a spacing of 6m X 3m.
                Sowing depth:<br>
                Cuttings are planted at the depth of 1m.
            </p>
        </div>

        <div class="generalinfo">
            <div class="heading">WEED CONTROL
            </div>
            <p class="generalpara">Application of Stomp@800ml per acre is done as the pre-emergence in the first fortnight of
                March after thorough ploughing and then spraying of Gramoxone 24 WCS (paraquat) or Glycel
                41 SL (glyphosate)@1.6ltr/acre in 150ltr water is done as post emergence when the weeds
                attain the height of 15-20cm
    
            </p>
        </div>

        <div class="generalinfo">
            <div class="heading">IRRIGATION</div>
            <p class="generalpara">Time Number <br>
                After pruning in the 1st fortnight of February One irrigation<br>
                First week of March One irrigation<br>
                After fruit set in April till 1st week of May<br>
                At 10 days interval<br>
                During the rest of MayWeekly interval<br>
                June 3 or 4 days interval<br>
                July to October<br>
                Irrigate when prolonged dry spell or rainfall is in sufficient<br>
                November to January One irrigation if soil gets extremely dry<br>
            </p>
        </div>
      
        </div>
    </section>


    {% include 'template2.html' %}
    </body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>