<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN GRAM(MOONG)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
    {% include 'template.html' %}   
    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\moong.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">GREEN GRAM(MOONG)</div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">KHARIF/MARCH-APRIL </div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">Green gram also known as moong is one of the main pulse crops of India. It is a rich source of Protein along with fibre and iron. It can be cultivated as Kharif as well as summer crop. In Punjab, nearly 5.2 thousand hectares of area is under moong cultivation with total production of 4.5 thousand tones (2012-2013).
                </p>
            </div>

            <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">25°C-35°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">60cm-90cm 
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">25°C-30°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">30°C-35°C </div>
                    </div>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">It can be cultivated on a wide range of soil. Gives best result when grown on well drained loamy to sandy-loam soils. Saline and waterlogged soils are not suitable for cultivation
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>SSL 1827:</b> This variety is made by cross breeding with green gram and Ricebean. It gives an average yield of 5.0qtl/acre. The variety is resistant to yellow mosaic virus.

                </p>
                <p class="generalpara"><b>ML 2056:</b> Suitable for Kharif season. Plants are of medium height. Ready to harvest in 75 days. Each pod contains 11-12 seeds. It is tolerant to yellow mosaic and cercospora as well as bacterial leaf spots. Also it is tolerant to sucking pest like jassid and white fly. Gives average yield of 4.5 qtl/acre. 
                </p>
                <div id="hidcontent">
                    <p class="generalpara"><b>ML 818:</b>  Suitable for kharif season. Plants are of medium height. Ready to harvest in 80 days. Each pod contains 10-11 seeds. It is moderately resistant to yellow mosaic and cercospora as well as bacterial leaf spots. Gives average yield of 4.9 qtl/acre.  
                        <br><br>
                        <b>PAU 911:</b> Suitable for kharif season. Ready to harvest in 75 days. Each pod contains 9-11 seeds. Gives average yield of 4.9 qtl/acre. Grains are medium bold and green.
                        <br><br>
                        <b>Varun, Yuvaraj, Aayesha, Madhubala, Chetan, NS 295, NS 34, NS 450, Arjun, Sumo, KSP 1081, Lalima
                        and Raja.</b>
                        <br><br>
                       <b> SML 668:</b> Suitable for summer sowing. Plants are dwarf. Ready to harvest in 61 days. Pods are long and each pod contains 10-11 seeds. It is tolerant to yellow mosaic and thrips. Gives average yield of 4.5 qtl/acre.
                        <br><br>
                        <b>SML 832: </b>Suitable for summer sowing. Plants are medium height. Ready to harvest in 62days. Each pod contains 10 seeds. Grains are medium sized with shinning green color. Gives average yield of 4.6 qtl/acre.
                        <br><br>
                        <b>Pusa Baisakhi:</b> Ready to harvest in 60-70 days. Gives average yield of 3.2-4 qtl/acre.<br>
                        <b>Mohini: </b>Ready to harvest in 60-70 days. Tolerant to yellow mosaic virus and cercospora leaf spot. Gives average yield of 4-4.8 qtl/acre.<br>
                        PS 16: Suitable for cultivation all over the country. Ready to harvest in 60-65 days. Gives average yield of 4 - 4.8 qtl/acre.<br>

                    </p>
                </div>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction3()">+ Show More</button></div>
            </div>


            <div class="generalinfo">
                <div class="heading">LAND PREPARATION</div>
                <p class="generalpara">To bring soil to fine tilth, give two to three ploughing. After each ploughing, carry out planking. <br>
                    SOWING
                    <br>
                    Time of sowing
                    Optimum time for kharif sowing is the first fortnight of July. Optimum time for summer moong cultivation is from March to April.
                    <br>
                    Method of sowing
                    For sowing drill/pora/kera methods are used.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SEED</div>
                <p class="generalpara">Seed Rate
                    For Kharif season, use seed rate of 8-9 kg/acre whereas for summer season used seed rate of 12-15 kg/acre.                                       
                </p>
                <p class="generalpara" id="morecontent2">Seed Treatment
                    Seed should be treated with Captan or Thiram @3 gm/kg of seed before sowing.                    
                </p>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction2()">+ Show More</button></div>
            </div>

            <div class="generalinfo">
                <div class="heading">WEED CONTROL</div>
                <p class="generalpara">To keep field weed free, do one or two hoeing, first hoeing four week after sowing and second hoeing two week after first hoeing are required. To control weed chemically, apply Fluchloralin @ 600ml/acre or Trifluralin @ 800 ml/acre before sowing (take sowing on the same day). Also after sowing, within two days, take a spray of Pendimethalin @ 1Ltr/acre in 100-200 Liters of water.
                </p>
            </div>
            <div class="generalinfo">
                <div class="heading">IRRIGATION</div>
                <p class="generalpara">Moong is mainly grown as a kharif crop. If needed provide irrigation depending upon the climatic conditions. 
                    For summer season crop, three to five irrigations are required depending upon soil type and climatic condition. For good yield stop irrigation 55 days after sowing.                    
                </p>
            </div>
        </div>
    </section>


    <!-- jQuery library -->
    <script>
        function myFunction2() {
            var x = document.getElementById("morecontent2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunction3() {
            var x = document.getElementById("hidcontent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
  {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>