<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jute</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
  {% include 'template.html' %}
  <section class="cat">
    <div class="agriculterdetail">
      <div class="heading">CROP GUIDE</div>
      <div class="agricontainer ">
        <div class="planteimg ">
          <img src="..\static\images\Jute.jpg" alt="">
        </div>
        <div class="plantdata">
          <div class="cropname">Jute</div>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\weather (1).png" alt="">
              <div class="date">FEBRUARY-MAY</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\seeding.png" alt="">
              <div class="date">type of varieties</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\fertilizepro.png" alt="">
              <div class="date">chemical fertilizer</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\pesticide.png" alt="">
              <div class="date">type of pests diseases</div>
            </div>
          </a>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">GENERAL INFORMATION</div>
        <p class="generalpara">"Jute is one of the most important cash crops of eastern India. It is the crop of hot and humid climate and is exported as goods and as raw fiber. The crop is mainly grown in West Bengal, Assam, Northern Bihar, south-eastern Orissa, Tripura and eastern Uttar Pradesh. Jute is rightly called the second important fiber crop of India or the golden fiber.".</p>
      </div>

      <div class="generalinfo setinfo" style="background: none;">
        <div class="heading">CLIMATE</div>
        <div class="carsection">
          <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Temperature</div>
            <div class="boxconent">24°C-37°C</div>
          </div>

         <div class="box">
            <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
            <div class="boxconent">Rainfall</div>
            <div class="boxconent">160cm-200cm </div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
            <div class="boxconent">Sowing Temperature</div>
            <div class="boxconent">25°C-30°C</div>
          </div>

           <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Harvesting Temperature</div>
            <div class="boxconent">24°C-35°C
            </div>
          </div>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">SOIL</div>
        <p class="generalpara">The best soil recommended for the cultivation of jute is new gray alluvial soil of good depth, receiving silt from the annual floods. Jute is largely grown in sandy loams and clay loams. Varying clays are unsuitable for jute cultivation. You can note that the optimum pH range is around 6.4 for the cultivation of jute.

            In other words, jute requires a clean, clod-free field with fine tilth. The land is plowed, cross plowed, & planked many times. All weeds must be thoroughly removed.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
        <p class="generalpara"><b>1. JRO 204 (Suren)=</b>Recommended zone: Fiber yield potential: Time of sowing: Growth duration: Special features:
            Entire tossa jute growing belt of the country 38.9 q/ha
            Mid-March to Mid-April
            110-120 days
            High fiber yield,
            High fiber strength (27 g/tex),
            Can prevent insect (yellow mite) and disease (stem rot) Fiber suitable for making sacks, hessian, twills and geotextile.</p>
            <p class="generalpara"><b> 2.CO 58 (Sourav)=</b> Recommended zone: Fiber yield potential: Time of sowing: Growth duration: Special features:
            Entire tossa jute growing belt of the country 29.5 q/ha
            Mid-March to last week of April
            110-120 days
            Very fine fiber,
            Can prevent insect and disease attack
            Fiber suitable for making jute diversified products
            <br><br>
          3.<b> 3.JRO-2407 (Samapti)=</b> Recommended zone: Fiber yield potential: Time of sowing: Growth duration: Special features:
            Entire tossa jute growing belt of the country 38.6 q/ha
            End of March to end of April
            110-120 days
            Fine fiber with good fiber strength
            Can withstand water logging to some extent
            <br><br>
            4.<b> 4.JROMU-1=</b>Recommended zone: Fiber yield potential: Time of sowing: Growth duration: Special features:
                West Bengal, Assam, Bihar and Odisha 41.4 q/ha
                3rd Week of March to 2nd week of April 120 days
                Can prevent insect and disease attack
                Fiber suitable for making sacks, hessian, twills and geotextile
                <br><br>
            5.<b> 5.JRCM 2 (Partha)=</b>Recommended zone: Fiber yield potential: Time of sowing: Growth duration: Special features:
                West Bengal, Odisha and Uttar Pradesh 31.4 q/ha
                Suitable for mid-March sowing
                120 days
                Very fine fiber
                Fiber suitable for making jute diversified products Suitable for flood prone and low lying area
                   <br><br>

            <br>
        </p>
      </div>
      <div class="generalinfo">
        <div class="heading">SOWING</div>
        <p class="generalpara">Broadcast sowing is the most common method. Owing to the small size of seeds, a small quantity of seed is required. To ensure even distribution of seed, they are mixed with 3-4 times well powdered soil and broadcast crosswise.

            Immediately after sowing, the soil is harrowed and planked for covering the seeds. In broadcast crops, weeding is difficult and cumbersome owing to uneven distribution of plants. Hence line sowing behind a plough or using seed drill are preferred for ease of inter-culture.</p>
      </div>
      <div class="generalinfo">
        <div class="heading">SEED RATE</div>
        <p class="generalpara">Seed rate varies with method of sowing and species to be grown. For broadcast sowing, 6 and 10 kg seed/ha of olitorius and capsularis are required. Line sowing needs 4 and 6 kg seed/ha only.
        </p>
      </div>
      

      <div class="generalinfo">
        <div class="heading">LAND PREPARATION</div>
        <p class="generalpara">
            Plain land or gentle slope or low land is ideal for jute cultivation. Since the jute seeds are small in size, land should be prepared to fine-tilt. Couple of plowing will make the soil fine tilth.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">WEED CONTROL</div>
        <p class="generalpara">
            The crop suffers from heavy weed infestation in the initial 6-8 weeks after sowing. Two- three hand weedings or mechanical hoeings are required to arrest weed menace. The first 2 manual weedings are combined with thinning operations at 20 and 35 DAS. The third weeding should be done 55-60 DAS. Due to continuous rains, sometimes manual weeding may not be possible.
            
            In such a situation, herbicide integrated with manual weeding is promising. Huchloralin (pre-plant incorporation, 3-7 days before sowing) or pendimethalin (pre-emergence, 1-2 days after sowing) @ 0.75-1.0 kg/ha combined with one hand weeding at 35 DAS may effectively control the weeds. Recommended post-emergence herbicides for weed control include MSMA (monosodium methyl arsenate) @ 4-5 kg/ha and dalapon @ 6 kg/ha. They should be applied 20 days after sowing.</p>
        </p>
      </div>

      <div class="generalinfo">
        <div class="heading">IRRIGATION</div>
        <p class="generalpara">Jute is sensitive to both drought and waterlogging. The crop sown during the months of February-April requires irrigation till the onset of monsoon. At germination and knee-high stages, adequate soil moisture must be ensured by irrigation.

            In general, after pre-sowing irrigation, monthly irrigation till the onset of monsoon may be necessary. During the rainy season, the crop experiences waterlogging that adversely affects fiber quality. Provision of quick drainage in uplands will be beneficial to the crop. However, in lowlands, it may not be feasible.</p>
      </div>
  </section>
{% include 'template2.html' %}
</body>

</html>