<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIDNEY BEAN (RAJMA)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>

{% include 'template.html' %}

    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\kidneybeans.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">KIDNEY BEAN (RAJMA)</div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">KIDNEY BEAN/ October-November</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">type of pests diseases</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">Kidney beans are also known as the chilli bean because of its dark red color and
                    the visual resemblance to the shape of a kidney. Kidney beans are a good source of protein and also
                    it is an excellent source of molybdenum. It contains a good source of cholesterol-lowering fibre.
                    Rajma is a popular dish from the North Indian cuisine made from red kidney beans. Maharashtra, Jammu
                    and Kashmir, Himachal Pradesh, Uttarakhand, West Bengal, Uttar Pradesh, Tamil Nadu, Kerala and
                    Karnataka are major kidney bean growing states in India.
                </p>
            </div>

            <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">15°C-25°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">60cm-150cm
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">22°C-25°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">28°C-30°C</div>
                    </div>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">It can be grown on wide range of soils from light sandy to heavy clay soils. Well
                    drained loamy soil is good for kidney beans cultivation. It is very sensitive to saline soils. Gives
                    best result when pH of soil is 5.5 to 6.</p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>VL Rajma 125:</b> Suitable for timely sown of Uttarakhand Hills. 4-5 seeds per pods
                    and 100 seed weight about 41.38 gm.
                </p>
                <p class="generalpara"><b>RBL 6: </b>Suitable for irrigated areas of Punjab state. 6-8 seeds per pod and seeds
                    are of light green color.
                </p>
                <div id="hidcontent">
                    <p class="generalpara"><b>Other state varieties:</b> </p>
                    <p class="generalpara">
                        Other high yielding varieties grown in India are HUR 15, HUR-137, Amber and Arun. Also Arka
                        Komal, Arka Suvidha, Pusa Parvathi, Pusa Himalatha, VL Boni 1, Ooty 1.
                    </p>
                </div>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction3()">+ Show More</button></div>
            </div>


            <div class="generalinfo">
                <div class="heading">LAND PREPARATION</div>
                <p class="generalpara">Give two to three ploughing to bring soil at fine tilth. Make field level so that
                    water stagnation should not occurred in the main field. Crops are very sensitive to water logging.
                    At last ploughing apply Farmyard Manure or well decomposed cow dung@60-80qtl/acre.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SOWING</div>
                <p class="generalpara">Time of sowing
                    For the spring season, the best time for Kidney beans cultivation is February-March and for Kharif
                    season, it is sown during May-June month. In Punjab, some farmers sow Kidney beans in the last week
                    of January.
                </p>
                <p class="generalpara">Spacing
                    For early sown varieties use spacing of 45-60 cm between rows and 10-15 cm between plants. For pole
                    type varieties sown at distance of 1 m in hill@3-4plant per hill.
                </p>
                <p class="generalpara">Sowing Depth
                    Sow the seeds at a depth of 6-7 cm.
                </p>
                <p class="generalpara">Method of sowing
                    For sowing dibbling method used. In plain areas seeds are sown in line or on bed whereas in hilly
                    areas, seeds are sown on ridge.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SEED</div>
                <p class="generalpara">Seed Rate
                    For early sown varieties use seed rate of 30-35kg/acre. For pole type varieties sown at distance of
                    1m in hill@3-4plant per hill with seed rate of 10-12kg/acre.
                </p>
                <p class="generalpara">Seed Treatment
                    Before sowing, treat seeds with Thiram@4gm per Kg of seeds. Dried seed in shade and then sown
                    immediately.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">WEED CONTROL</div>
                <p class="generalpara">Initial growth period is crucial for crop growth. Avoid weed infestation at this
                    stage. Complete weeding operations synchronized along with fertilizer and irrigation operations. Use
                    Fluchloralin@ 800ml/acre or Pendimethalin@1ltr per acre as pre-emergence weedicide.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">IRRIGATION</div>
                <p class="generalpara">For better germination of seed give pre-sowing irrigation. 6-7 irrigations are
                    required during growing season. Irrigation on 25th day after sowing and three irrigation at 25 days
                    interval are necessary to get optimum yield. Give irrigation prior to blooming, during flowering and
                    at pod development stage, water stress at these stage will lead to yield loss.
                </p>
            </div>
        </div>
    </section>


    <!-- jQuery library -->
    <script>
        function myFunction3() {
            var x = document.getElementById("hidcontent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
  {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>