<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENTIL (MASUR)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
    {% include 'template.html' %}
    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\lentil.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">LENTIL (MASUR)</div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">RABI/OCTOBER-MARCH </div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">It is one of the most important protein rich pulse crop. It is mostly eaten as Dal by splitting into 2 cotyledons, deep orange red or orange yellow in color. Whole grain is also used in various dishes. Lentil also provide a source of starch for textiles and printing. It is mixed with wheat flour in bread and cake production. India is the highest producer of lentil in the world.
                </p>
            </div>
            
            <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">18°C -20°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">100cm-150cm 
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">18°C- 2O°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">22°C- 24°C</div>
                    </div>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">Lentil can be grown on all type of soil. Saline, Alkaline or waterlogged soils should be avoided. Soil should be friable and weed free so that seed could be placed at uniform depth.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>LL 699: </b>Early maturing, short variety along with dark green leaves. Ready to harvest in 145 days. It is resistant to pod borer and can tolerate rust and blight disease. It gives average yield of 5 qtl/acre.
                </p>
                <p class="generalpara"><b>LL 931:</b>Short variety along with dark green leaves and pink flowers. Ready to harvest in 146 days. It is resistant to pod borer. It gives average yield of 4.8 qtl/acre. 
                </p>
                <p class="generalpara"><b>Other States Variety:</b>
                    <b>Bombay 18:</b> Ready to harvest in 130-140 days. Gives average yield of 4-4.8 qtl/acre.<br>
                            <b>DPL 15:</b>  Ready to harvest in 130-140 days. Gives average yield of 5.6-6.4 qtl/acre.<br>

                            <b>DPL 62 :</b>  Ready to harvest in 130-140 days. Gives average yield of 6-8 qtl/acre.<br>
                            

                <b>K 75: </b>Ready to harvest in 120-125 days. Gives average yield of 5.6-6.4 qtl/acre.<br>

                            <b>Pusa 4076:</b>Ready to harvest in 130-135 days. Gives average yield of 10-11qtl/acre.<br>
                </p>
            </div>


            <div class="generalinfo">
                <div class="heading">LAND PREPARATION</div>
                <p class="generalpara">In case of light soils, less tillage or soil manipulation is required to prepare seed-bed. One deep ploughing followed by 3-4 cross harrowing’s should be given in case of heavy soils. 2-3 ploughings are sufficient for proper pulverization of land. Levelling of field should also be done for proper distribution of water. Proper moisture should be present in the field at the time of sowing seeds.
            </div>

            <div class="generalinfo">
                <div class="heading">SOWING</div>
                <p class="generalpara">Time of sowing
                    Seed should be sown in the mid of October to First week of November.                     
                </p>
                <p class="generalpara">Spacing
                    Seeds should be sown in lines 22 cm apart. Under late sowing conditions, row- spacing should be reduced to 20 cm.                     
                </p>
                <div id="hidcontent">
                <p class="generalpara">Sowing Depth
                    Sow seeds at depth of 3-4 cm.  <br>                   
                    Method of sowing
                    For Sowing use pora method or seed cum fertilizer drill. Seed can also be sown by broadcasted manually.                    
                </p>
                </div>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction3()">+ Show More</button></div>
            </div>

            <div class="generalinfo">
                <div class="heading">SEED</div>
                <p class="generalpara">Seed Rate
                    Seed rate of 12-15 kg/acre is optimum.                    
                </p>
                    <p class="generalpara">Seed Treatment
                        Seed should be treated with Captan or Thiram @3gm/kg of seed before sowing.                        
                    </p>
                        </div>
            <div class="generalinfo">
                <div class="heading">WEED CONTROL</div>
                <p class="generalpara">Main weeds found in lentil are Chenopodium album (Bathua), Vicia sativa (ankari), Lathyrus spp (chatrimatri) etc. They can be controlled by 2 hoeing at 30 and 60 days interval. 45-60 days of weed free period should be maintained for proper crops stand and yield. Pre-emergence application of Stomp 30EC@550ml/acre with one hoeing at 50 days after sowing, helps in effective weed control.
                </p>
            </div>
            <div class="generalinfo">
                <div class="heading">IRRIGATION</div>
                <p class="generalpara">
                    Lentil is mainly grown as a rainfed crop. It requires 2-3 irrigations in case of irrigated conditions depending upon the climatic conditions. One irrigation should be provided 4 weeks after sowing and second at flowering stage. Pod formation and flower initiation are critical stages of water requirement.
                </p>
            </div>
        </div>
    </section>


    <!-- jQuery library -->
    <script>
        function myFunction3() {
            var x = document.getElementById("hidcontent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>