<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mothbean</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href=" ..\static\css\style.css">
</head>

<body>
  {% include 'template.html' %}

  <section class="cat">
    <div class="agriculterdetail">
      <div class="heading">CROP GUIDE</div>
      <div class="agricontainer ">
        <div class="planteimg ">
          <img src="..\static\images\Mothbean.jpg" alt="">
        </div>
        <div class="plantdata">
          <div class="cropname">mothbean</div>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\weather (1).png" alt="">
              <div class="date">MAY-JULY</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\seeding.png" alt="">
              <div class="date">type of varieties</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\fertilizepro.png" alt="">
              <div class="date">chemical fertilizer</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\pesticide.png" alt="">
              <div class="date">type of pests diseases</div>
            </div>
          </a>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">GENERAL INFORMATION</div>
        <p class="generalpara">"Moth bean is a native crop of hot and dry habitats of northern and western parts of India. These very adjusting abilities have rendered this crop as an indispensable component of the cropping system prevailing in dry regions.The moth bean crop consists of pods, sprouts and protein rich seeds are mainly consumed in India.It acts as a pasture legume.And is rich in iron, calcium, manganese, zinc, potassium, magnesium and vitamin B9.The seeds of this crop contain 22-24% of protein.It is identified as a most remarkable food source in future because it is unaffected by drought and has an ability to encounter soil erosion."</p>
      </div>

      <div class="generalinfo setinfo" style="background: none;">
        <div class="heading">CLIMATE</div>
        <div class="carsection">
          <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Temperature</div>
            <div class="boxconent">24°C-32°C</div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
            <div class="boxconent">Rainfall</div>
            <div class="boxconent">50cm-75cm </div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
            <div class="boxconent">Sowing Temperature</div>
            <div class="boxconent">24°C-32°C</div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Harvesting Temperature</div>
            <div class="boxconent">25°C-27°C
            </div>
          </div>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">SOIL</div>
        <p class="generalpara">
            In the Northern-western mid regions of India it can be strongly cultivated on well-drained sandy plains and poor dunes with poor organic matters and poor fertility rate.On plain lands and dunes it is cultivated as sole, mix and intercrop.To reduce the losses of soil moisture, the crops can immediately be sown after rain on light soil dunes.It has a wide pH range of 3.5-10. It grows well in sandy soil.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
        <p class="generalpara"><b>1.Rajasthan=</b>RMO-257, RMO 435, RMB 25, RMO 225, RMO 40, Moth 880, and TMV(Mb-1).</p>
        <p class="generalpara"><b>2.Himachal Pradesh=</b>Golden Delicious (Late Season), Red Delicious (Mid season), McIntosh U
            <b>3.Gujarat=</b>GMO 1, GMO 2, and Maru Bahar
            <br><br>
          <b>3.Maharashtra=</b>CAZRI Moth-2 (CZM 45), CAZRI Moth-3 (CZM 99), and Maru Bahar (RMO 435)
            <br><br>
          <b>4.Haryana=</b>CAZRI Moth-2, and Moth-3
           <br>
        </p>
      </div>

      <div class="generalinfo">
        <div class="heading">LAND PREPARATION</div>
        <p class="generalpara">
            In western Rajasthan one plowing with a moldboard plow and a cross harrowing will serve the purpose in dry conditions. In a wide spaced crop, Sweep Cultivation with a fertility seed drill which is developed at CAZRI can also be used as an alternative.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">SEED RATE</div>
        <p class="generalpara">
            For grain, the required seed rate is 10-15 kg/ha.
            For mixed crops, 4-5 kg of seed is required.
            For Fodder purpose, 20-25 kg/ha is required.
            Spacing should be done as 30-45cm x 10-20cm.</p>
      </div>
      <div class="generalinfo">
        <div class="heading">WEED CONTROL</div>
        <p class="generalpara">
            If you grow Moth bean as a forage crop you don't
            I have to worry about the weeds. But if you are
            growing only Moth bean controlling weeds is very
            important.Also, keep field boundaries and bunds free from weeds.The crop field should be weed-free initially for 3 to 4 weeks.Intercultural operation/hoeing must be done twice at 20 and 35 days after sowing-using hand
            hoe to remove all weeds in between the rows.
            Mulches like straw, hay, and plastic, etc., should
            be used in between the rows to suppress the
            weed growth.</p>
        </p>
      </div>

      <div class="generalinfo">
        <div class="heading">IRRIGATION</div>
        <p class="generalpara">
            In India, It requires very less irrigation and it is one of the most drought resistant pulse crops.These plants are rugged and drought resistant.They will do well if they are irrigated timely and appropriately.During the flowering stage, it requires water and developing stages of pod will be very good for the plants.</p>
      </div>
  </section>


  {% include 'template2.html' %}
</body>

</html>