<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </title> pigeonpea</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>

    {% include 'template.html' %}

    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\pigeonpea.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">PIGEON PEA (TUR)
                    </div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">KHARIF/JUNE-JULY</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">It is a popular pulses crop and it is a rich source of Protein. It is cultivated in tropical and
                    semitropical regions. It is an important legume crop of rain fed and semi-arid tropics and it can
                    grow as a single crop or intermixed with cereals. It enriches soil through symbiotic nitrogen
                    fixation. Andhra Pradesh, Gujarat, Karnataka, Madhya Pradesh, Maharashtra and Uttar
                    Pradesh are major Pigeon pea producing states in India.
                    
                </p>
            </div>

            <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">30°C-35°C(max)</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">600cm-650cm
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">25°C-33°C(max)
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">35°C-40°C(max)</div>
                    </div>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">It grows on a variety of soil. It gives best results on fertile and well drained loamy soils. The
                    saline-alkaline or waterlogged soils are unfit for its cultivation. It can grow successfully on soils
                    having pH ranges from 6.5 to 7.5.                    
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>AL-15:</b>It is a short duration variety, matures in 135 days. Pods are borne in clusters. It gives an
                    average yield of 5.5 qtl/acre.                    
                </p>
                <p class="generalpara"><b>AL 201:</b> It is an early maturity variety. It matures in about 140 days. Main stem is stronger than
                    the side branches. Each pod contains 3-5 yellowish brown and medium size seeds. It gives an
                    average yield of 6.2 qtl/acre.
                </p>
                <div id="hidcontent">
                    <p class="generalpara"><b>PAU 881:</b> It is an early maturing variety. It matures in 132 days. Plants are 2 m tall. Each pod
                        contains about 3-5 yellow brown and medium size seeds. It gives an average yield of
                        5.6qtl/acre.
                        <br><br>
                        <b>UPAS-120:</b> It is extra early maturing (120-125 days) variety. These are medium tall and semi
                        spreading varieties. Seeds are small and light brown in colour . The average yield is 6-8 quintals
                        per acre. It is susceptible to sterility mosaic disease.
                        <br><br>
                        <b>Pusa Ageti:</b> Dwarf bold seeded variety, ready to harvest in 150 to 160 days. It gives an average
                        yield of 5 qtl /acre.
                        <br><br>
                        <b>Pusa 84:</b>Medium tall, semi spreading variety, ready to harvest in 140 to 150 days.
                        IPA 203 and IPH 09-5 (Hybrid)                        
                    </p>
                </div>
                <div class="btncenter"><button class="generalinfobtn" onclick="myFunction3()">+ Show More</button></div>
            </div>


            <div class="generalinfo">
                <div class="heading">LAND PREPARATION</div>
                <p class="generalpara">
                    Prepared land by taking one deep ploughing followed by two or three times harrowing. Planking
                    should be followed after each ploughing. It cannot withstand water logging conditions, prepared
                    in such a way that water stagnation should not take place. Crop Rotation: Follow crop rotation of
                    Arhar with Wheat or Barley or Safed Senji or Sugarcane.
                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">SOWING</div>
                <p class="generalpara">Time of sowing
                    Timely sowing of crop is important as delay in sowing leads to yield loss. Sow crop in second
                    fortnight of May for obtaining high grain yield                   
                    <br>
                    Spacing
                    For sowing use spacing of 50 cm between the rows while 25 cm between the plant
                    Method of sowing <br>
                    Seeds can be sown by broadcasting method but line sowing with help of seed drill is more
                    efficient way of sowing for good yield
                </p>

                <div class="generalinfo">
                    <div class="heading">SEED</div>
                    <p class="generalpara">Seed rate
                        For good yield use seed rate of 6 kg per acre.
                        Seed Treatment
                        Select healthy seeds and bold seeds for sowing. Treat seeds with Carbendazim or
                        Thiram@2gm per Kg of seeds. After chemical treatment, treat seed with Trichoderma
                        viride@4gm/kg of seeds or Pseudomonas Fluorescens@10gm/Kg of seeds
                    </p>
                </div>
            </div>


            <div class="generalinfo">
                <div class="heading">WEED CONTROL</div>
                <p class="generalpara">Chemical weed control
                    Take one hoeing, about three weeks after sowing and another hoeing about six week after
                    sowing. Apply Pendimethalin @ 1Ltr/acre in 150-200ltr of water as pre-emergence herbicide
                    within 2 days after sowing, followed by hand weeding six to seven weeks after sowing.
                    

                </p>
            </div>
            <div class="generalinfo">
                <div class="heading">IRRIGATION</div>
                <p class="generalpara">Three to four week after sowing apply first irrigation. Remaining irrigations are depends upon
                    rainfall intensity. Flower initiation and pod setting stages are the most crucial to drought stress.
                    Therefore, irrigation at these stages is essential for good yield. Avoid excessive irrigation as it
                    leads to more vegetative growth and incidence of Phytophthora and alternaria blight. Do not
                    apply irrigation after mid-September; it will affect maturity of crop.
                </p>
            </div>
        </div>
    </section>


    <!-- jQuery library -->
    <script>
        function myFunction3() {
            var x = document.getElementById("hidcontent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>