<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POMEGRANATE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>

   {% include 'template.html' %}
    <section class="cat">
        <div class="agriculterdetail">
            <div class="heading">CROP GUIDE</div>
            <div class="agricontainer ">
                <div class="planteimg ">
                    <img src="..\static\images\pomegranate.jpg" alt="">
                </div>
                <div class="plantdata">
                    <div class="cropname">pomegranate</div>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\weather (1).png" alt="">
                            <div class="date">RABI/NOVEMBER-DECEMBER
                            </div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\seeding.png" alt="">
                            <div class="date">type of varieties</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\fertilizepro.png" alt="">
                            <div class="date">chemical fertilizer</div>
                        </div>
                    </a>
                    <a href="#" class="anchor">
                        <div class="whether">
                            <img src="..\static\images\pesticide.png" alt="">
                            <div class="date">PEST CONTROL</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="generalinfo">
                <div class="heading">GENERAL INFORMATION</div>
                <p class="generalpara">Pomegranate known as Anar in Hindi is a commercial crop of India. Its origin lies
                    in Persia. It is a rich source of carbohydrates, proteins, calcium, phosphorus, iron and vitamin C.
                    Pomegranate eaten as fresh fruit also its juice is cool and refreshing. Along with juice, each and
                    every part of pomegranate has some medicinal value. Its root and peel are used to cure diarrhoea,
                    dysentery and worm killing in the intestines. Its petals are used for preparing dyes. Maharashtra is
                    a major producer of Pomegranate. Other states like Rajasthan, Karnataka, Gujarat, Tamil Nadu, Andhra
                    Pradesh, Uttar Pradesh, Punjab and Haryana are also cultivating pomegranate on a small scale.
                </p>
            </div>

             <div class="generalinfo setinfo" style="background: none;">
                <div class="heading">CLIMATE</div>
                <div class="carsection">
                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">TEMPERATURE </div>
                        <div class="boxconent">23°C-32°C </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
                        <div class="boxconent">RAINFALL</div>
                        <div class="boxconent">50cm-100cm
                        </div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
                        <div class="boxconent">SOWING TEMPERATURE </div>
                        <div class="boxconent">23°C-32°C</div>
                    </div>

                    <div class="box">
                        <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
                        <div class="boxconent">HARVESTING TEMPERATURE</div>
                        <div class="boxconent">25°C-35°C</div>
                    </div>
                </div>
            </div> 

            <div class="generalinfo">
                <div class="heading">SOIL</div>
                <p class="generalpara">It can be grown on variety of soils. For optimum growth and yield, it required
                    deep loamy and alluvial soils. It is tolerant to loamy and slightly alkaline soils. It is also
                    cultivated on poor soils. Also medium and black soils are suitable for pomegranate cultivation.

                </p>
            </div>

            <div class="generalinfo">
                <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
                <p class="generalpara"><b>Bhagwa:</b> Bigger fruit size, sweet, bold and attractive arils, glossy, very
                    attractive saffron coloured thick skin. This variety was found less susceptible to fruit spots and
                    thrips as compared to other varieties and matures in mid-October. It gives an average yield of 14.kg
                    per tree.
                </p>
            </div>
        


        <div class="generalinfo">
            <div class="heading">LAND PREPARATION</div>
            <p class="generalpara">Plough the land for two - three times and bring soil to fine tilth. After then carry
                out planking operations to make land leveled and uniform..
            </p>
        </div>

        <div class="generalinfo">
            <div class="heading">SOWING</div>
            <p class="generalpara">Time of sowing
                Mainly sowing is done in December to January.
                <br><br>
                Spacing
                Optimum spacing is depending on soil type and climate. For Pomegranate planting, if square system of
                planting is adopted, use spacing of 4m x 4m.
                <br><br>
                Sowing Depth
                For sowing, dug Pits of 60 x 60 x 60 cm size about a month prior to planting. Keep pits open under the
                sun for a fortnight. Then filled pits with top soil mixed with 20kg of farmyard manure and 1 kg of super
                phosphate. After filling the pit, apply water. It settled down in the soil.
                <br><br>
                Method of sowing
                Transplanting method is used. Pomegranate is propagated through an air layering method. Air layering is
                done in the rainy season as well as in November-December month. For air layering, select one to two year
                old, healthy, mature shoots having length of 45-60cm with pencil thickness.
            </p>
        </div>
        <div class="generalinfo">
            <div class="heading">SEED</div>
            <p class="generalpara">Seedling Rate
                240 plants per acre.
Seedling Treatment
Before sowing, dipped seedling or cutting in an IBA solution of 1000PPM@1gm/liter of water.

            </p>
            <p class="generalpara" id="morecontent2">240 plants per acre.
            </p>
        </div>
        <div class="generalinfo">
            <div class="heading">INTERCROPS</div>
            <p class="generalpara">For initial two-three years, Intercropping is possible. Take vegetables, legumes or
                green manure crops as intercrop.
            </p>
        </div>
        <div class="generalinfo">
            <div class="heading">FERTILIZER</div>
            <p class="generalpara">Apply 5-6 kg Farm yard manure to one year old plant in December. Put Urea@50gm per
                plant every year in two equal splits. First dose is given in March month and second dose is given in
                April month. After 5 years start adding urea@250gm per plant.
            </p>
        </div>
        <div class="generalinfo">
            <div class="heading">IRRIGATION</div>
            <p class="generalpara">In summer apply water at the interval of 10-15 days and in winter increase irrigation
                interval upto 20-25 days.
            </p>
        </div>
        <div class="generalinfo">
            <div class="heading">WEED CONTROL</div>
            <p class="generalpara">To control weeds, mulching can be done. Along with weed control, it helps to conserve
                moisture and reduces evaporation loss.
            </p>
        </div>
        <div class="generalinfo">
            <div class="heading">PRUNING AND TRAINING
            </div>
            <p class="generalpara">Training and Pruning help in growth of fresh healthy shoots. It also removes old
                disease branches and avoids overcrowding of branches. It also maintains the proper shape of the plant.
            </p>
        </div>
        </div>
    </section>


    {% include 'template2.html' %}
</body>

<!-- <form class="form-inline my-2 my-lg-0" id="vendearch">
  <div class="content" id="mysearch">
    <input type="text" class="field" placeholder="Enter Keyword">
   <a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
    </div>
</form> -->

</html>