<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RICE</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href=" ..\static\css\style.css">
</head>

<body>
  {% include 'template.html' %}
  <section class="cat">
    <div class="agriculterdetail">
      <div class="heading">CROP GUIDE</div>
      <div class="agricontainer ">
        <div class="planteimg ">
          <img src="..\static\images\rice.jpg" alt="">
        </div>
        <div class="plantdata">
          <div class="cropname">Rice</div>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\weather (1).png" alt="">
              <div class="date">20MAY - 30JUNE</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\seeding.png" alt="">
              <div class="date">type of varieties</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\fertilizepro.png" alt="">
              <div class="date">chemical fertilizer</div>
            </div>
          </a>
          <a href="#" class="anchor">
            <div class="whether">
              <img src="..\static\images\pesticide.png" alt="">
              <div class="date">type of pests diseases</div>
            </div>
          </a>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">GENERAL INFORMATION</div>
        <p class="generalpara">Rice is the most important food crop of India covering about one-fourth of the total
          cropped area and providing food to about half of the Indian population. Punjab has made tremendous progress in
          rice productivity and production during the past 45 years. Due to use of high yielding varieties and new
          technology Punjab has given the title of "Rice Bowl of India".</p>
      </div>

      <div class="generalinfo setinfo" style="background: none;">
        <div class="heading">CLIMATE</div>
        <div class="carsection">
          <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Temperature</div>
            <div class="boxconent">16°C-30°C</div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\rainy.png" alt="" /></div>
            <div class="boxconent">Rainfall</div>
            <div class="boxconent">100cm-200cm</div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\chemical-free.png" alt="" /></div>
            <div class="boxconent">Sowing Temperature</div>
            <div class="boxconent">20°C-30°C</div>
          </div>

          <div class="box">
            <div class="boximg"><img src="..\static\images\high-temperature.png" alt="" /></div>
            <div class="boxconent">Harvesting Temperature</div>
            <div class="boxconent">16°C-27°C
            </div>
          </div>
        </div>
      </div>

      <div class="generalinfo">
        <div class="heading">SOIL</div>
        <p class="generalpara">It can be grown on a variety of soils with low permeability and pH varying from 5.0 to
          9.5. Sandy loam to loamy sand to silty loam to clay loams, silty to clayey loam soils with low permeability,
          free of water logging and sodicity are considered best for paddy cultivation.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">POPULAR VARIETIES WITH THEIR YIELD</div>
        <p class="generalpara"><b>PR 128:</b> PR 128 of rice is an improved version of PAU 201. It possesses long
          slender clear translucent grains. Its average plant height is 110 cm and matures in about 111 days after
          transplanting. It is resistant to all the 10 presently prevalent pathotypes of bacterial blight pathogen in
          the Punjab state. Its average paddy yield is 30.5 quintals per acre.</p>
        <p class="generalpara"><b>PR 129:</b> PR 129 of rice is an improved version of PAU 201. It possesses long
          slender clear translucent grains. Its average plant height is 105 cm and matures in about 108 days after
          transplanting. It is resistant to all the 10 presently prevalent pathotypes of bacterial blight pathogen in
          the Punjab state. Its average paddy yield is 30.0 quintals per acre.

          <br><br>
          <b>HKR 47:</b> HKR 47 is a mid-early maturity variety of rice. It takes 104 days to mature after transplanting and
          its average plant height is 117 cm. It is susceptible to all the 10 presently prevalent pathotypes of
          bacterial blight pathogen in Punjab and is prone to lodging. Its average yield is 29.5 quintals per acre. It
          is suitable for parboiling.
          <br><br>
          <b>PR 111:</b> It is short-statured, stiff strewed variety and its leaves are erect and dark green in color. It
          matures in 135 days. Its grains are long, slender and clear. It is resistant to bacterial leaf blight disease
          and gives an average yield of 27 qtl/acre.
          <br><br>
          <b>PR 113:</b> It is short-statured, stiff strewed variety and its leave is erect and dark green in color. It matures
          in 142 days. Grain is bold and heavy. It is resistant to bacterial leaf blight disease and gives an average
          yield of 28 qtl/acre.
          <br><br>
          <b>PR 114:</b> It is a semi-dwarf, stiff strewed variety having narrow, dark green erect leaves. It matures in 145
          days. Its grains are extra-long, clear translucent grains with very good cooking quality. It gives average
          yield of 27.5 qtl/acre"
          <br><br>
          <b>PR 115:</b> It is a semi-dwarf, stiff strewed variety having narrow, dark green erect leaves. It matures in 125
          days. Its grains are long, slender, translucent with good cooking quality. It gives an average yield of 25
          qtl/acre.
          <br><br>
          <b>PR 116:</b> It is a semi-dwarf, stiff strewed variety. It show resistant to lodging. Its leaves are light green
          and erect. It matures in 144 days. Its grains are long, slender and translucent. Its average yield is 28
          quintals/acre.
          <br><br>
          <b>PR 118:</b> It is a semi-dwarf, stiff strewed and lodging tolerant variety. Its leaves are dark green and leaves
          are erected. It matures in 158 days. Its grains are medium slender with good cooking quality. Its average
          yield is 29 qtl/acre.
          <br><br>
          <b>PR 120:</b> It is a semi dwarf variety with long slender and translucent grains with high cooking quality. It
          matures in 132 days. It gives an average yield of 28.5 qtl/acre.
          <br>
        </p>
      </div>

      <div class="generalinfo">
        <div class="heading">LAND PREPARATION</div>
        <p class="generalpara">After harvesting wheat, grow dhaincha (seed rate 20 kg/acre) or sunhemp @ 20 kg/acre or cowpea @ 12 kg/acre up to the first week of May. When the crop is 6-8 week old, bury them into the soil one day before transplanting the paddy. It will save 25 kg of N per acre. Use laser land leveler for land levelling. After then puddle soil and to obtain a fine well levelled puddle field to reduce water loss through percolation.</p>
      </div>

      <div class="generalinfo">
        <div class="heading">WEED CONTROL</div>
        <p class="generalpara">Use Butachlor 50 EC @ 1200 ml/acre or Thiobencarb 50 EC @ 1200 ml or Pendimethalin 30 EC @ 1000 ml or Pretilachlor 50 EC @ 600 ml per acre as pre-emergence herbicides, 2 to 3 days after transplanting. Mix any one of these herbicides in 60 kg of sand per acre and broadcast uniformly in 4-5 cm deep standing water.</p>
        <p class="generalpara">
          For broadleaf weed control, apply Metsulfuron 20 WP @ 30 gm/acre in 150 Ltr water as post emergence, 20-25 days after transplanting. Before spray, drain out the standing water from the field and apply irrigation one day after spray.
          </p>
      </div>

      <div class="generalinfo">
        <div class="heading">IRRIGATION</div>
        <p class="generalpara">Keep the field flooded up to two weeks after transplanting. When all water gets infiltrated two day after applying irrigation in the field. Depth of standing water should not exceed 10 cm. While doing intercultural and weeding operations, drain out excess water from the field and irrigate the field after completion of these operations. Stop irrigation about a fortnight before maturity to facilitate easy harvesting.</p>
      </div>
  </section>

 {% include 'template2.html' %}
</body>

</html>