<nav class="navbar navbar-expand-md navbarset navbar-dark bg-dark">
        <a class="navbar-brand logo" href="#">Farming Assistance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navright" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link activate" href="http://127.0.0.1:5000/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/Weather">Weather</a>
            </li>
            <li class="nav-item">

          <a class="nav-link" href="http://127.0.0.1:5000/Govermentskim">Government Schemes </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Crop Guide </a>
          <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item<nav class="navbar navbar-expand-md navbarset navbar-dark bg-dark">
        <li><a class="dropdown-item settheme" href="#"> Cereals &raquo </a>
            <ul class="submenu dropdown-menu bg-dark">
              <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Maize"> Maize</a></li>
              <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Cotton"> Cotton </a></li>
              <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Jute"> Jute </a></li>
              <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Coffee"> Coffee </a></li>
              <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Coconut">Coconut</a></li>
              </ul>
              </li>
            
            <li><a class="dropdown-item settheme" href="#"> Pulse &raquo </a>
          <ul class="submenu dropdown-menu bg-dark">
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Kidneybeans"> Kidneybeans </a></li>
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Lentil"> Lentil</a></li>
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Blackgram"> Blackgram </a></li>
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Pigeonpeas"> Pigeonpeas</a></li>
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Blackgram"> Blackgram </a></li>
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Mothbeans"> Mothbeans </a></li>
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Mungbean"> Greengram</a></li>
            <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Chickpea"> Chickpea </a></li>
          </ul>
           
            <li><a class="dropdown-item settheme" href="#"> Fruits &raquo </a>
              <ul class="submenu dropdown-menu bg-dark">
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Mango"> Mango </a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Grapes"> Grapes</a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Banana"> Banana </a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Apple"> Apple</a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Pomegranate"> Pomegranate </a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Orange"> Orange </a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Watermelon"> Watermeleon</a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Muskmelon"> Muskmeleon </a></li>
                <li><a class="dropdown-item settheme" href="http://127.0.0.1:5000/Papaya"> Papaya </a></li>
          </ul>
         </li>
         </ul>
          <li class="nav-item"></li>
         <a class="nav-link" href="http://127.0.0.1:5000/CropPrices">Crop Prices</a>
       </li>
       <li class="nav-item"></li>
         <a class="nav-link" href="http://127.0.0.1:5000/Recommendation">Crop Recommendation</a>
       </li>
        </ul>
       </div>
  </nav>
